<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>



    <title>Comment</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style3.css')}}">
</head>
<body>
<!-- 제목-->
<center>
        <span style="font-size:9em;  color:pink; font-family:Gabriola; text-align:center">
        Comment
        </span>
</center>
 <!-- 유저 평가와 개선사항 -->
    <center>
    <div id="wrapper">
          <div id="slider-wrap">
              <ul id="slider">
                 <li>
                     <span style="color:black"><h5>평균보다 무릎이 약  {{data["1"]}}도 더 구부러졌습니다.</h5></span>
                     <img src="{{url_for('static', filename='images/woman.jpg')}}">
                 </li>

                 <li>
                     <span style="color:black"><h5>평균보다 허리가 약 {{data["2"]}}도 더 굽혀졌습니다.</h5></span>
                     <img src="{{url_for('static', filename='images/woman.jpg')}}">
                 </li>

                 <li>
                     <span style="color:black"><h5>평균보다 약 {{data["3"]}}% 빨리 앉았습니다.</h5></span>
                     <img src="{{url_for('static', filename='images/woman.jpg')}}">
                 </li>

                 <li>
                     <span style="color:black"><h5>평균보다 약 {{data["4"]}}% 느리게 일어났습니다.</h5></span>
                     <img src="{{url_for('static', filename='images/woman.jpg')}}" >
                 </li>

                 <li>
                     <span style="color:black"><h5>운동의 전체적인 유사도는 {{data["5"]}}%입니다.</h5></span>
                     <img src="{{url_for('static', filename='images/woman.jpg')}}">
                 </li>
              </ul>

              <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
              <div id="counter"></div>

              <div id="pagination-wrap">
                <ul>
                </ul>
              </div>
          </div>
</div>

</center>
<script type="text/javascript" src="{{ url_for('static', filename='js/script3.js')}}"></script>
</body>