<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>



    <title>Result</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style3.css')}}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body>
    <center>

        <!-- 제목-->
        <span style="font-size:9em;  color:pink; font-family:Gabriola;">
        Result
        </span>

        <!--정자세와 유저의 자세 image-->
            <!--div style="width:80%; margin-right:200px; left margin-left:200px;" class="photo"-->
            <div style="width:100%; height:80%", class="video", name="fileName">
                    <video width="640" height="360" controls autoplay loop muted >
                      <source src="{{url_for('static', filename='video/ori.mp4')}}" type="video/mp4" >
                      <strong>Your browser does not support the video tag.</strong>
                    </video>
            </div>

        <a href="{{url_for('static', filename='video/ori.mp4')}}" onclick="player_setRate(0);">fps6</a>
        <a href="{{url_for('static', filename='video/result_fps15.mp4')}}" onclick="player_setRate(0);">fps15</a>
        <a href="{{url_for('static', filename='video/result_fps30.mp4')}}" onclick="player_setRate(0);">fps30</a>

        </br>
        </br>
        </br>

        <div class="img">
            <img src="{{url_for('static', filename='images/animat-rocket-color.gif')}}" width="100px" height="100px">
        </div>

        </br>
    </center>


    </br>
    </br>
    </br>
    </br>

    <!---페이지-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="/comment">1</a></li>
        <li class="page-item"><a class="page-link" href="/comment">2</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

     <SCRIPT LANGUAGE="JavaScript">
      function player_setRate(no)
      {
        document.Player.rate = no;
        document.Player.play();
      }

      </SCRIPT>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script3.js') }}"></script>
</body>

</html>
